{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <img src="/static/tea-leaves.png">
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="phoneno">Phone Number</label>
    <input name="phoneno" id="phoneno" required>
    <input type="submit" name="submit_button" value="Register">
  </form>

  <br>

  <form method="post">
    <input type="submit" name="submit_button" value="Compare">
  </form>

  <script type="text/javascript">
    const numOnly = /^[0-9]*$/;
    let lastNumber = "";
    let displayNumber = "";
    function init() {
        document.getElementById("phoneno").oninput = function() {
            // only numbers
            let val = this.value.replace(/\D/g, "");
            if(val.length > 10) this.value = lastNumber;

            // this.value = formatNumberToDisplay(val);
            this.value = val;
            lastNumber = this.value;
        };
    }

    // function formatNumberToDisplay(num) {
    //     let n = "";

    //     n += num.slice(0, 3);
    //     if(num.length <= 3) return n;

    //     n += "-" + num.slice(3, 6);
    //     if(num.length <= 6) return n;

    //     n += "-" + num.slice(6, 10);
    //     return n;
    // }

    init();
</script>
{% endblock %}